#pokedex {
  position: relative;
  border-style: solid;
  border-color: brown;
  border-top-width: 50px;
  border-right-width: 1em;
  border-bottom-width: 10px;
  border-left-width: 1em;
  background-color: rgb(0, 0, 0);
  margin: 0 auto;
  border-radius: 5px;
}

#aviso-cargando {
  background-color: aliceblue;
}

#informacion-del-pokemon {
  border-style: solid;
  border-color: black;
  border-top-width: 1em;
  border-right-width: 1em;
  border-bottom-width: 1em;
  border-left-width: 1em;
}
#botonera-pokemon {
  position: relative;
  background-color: brown;
  float: left;
  width: 250px;
}

#contenido-pokedex {
  padding-left: 70px;
}

#imagen-pokemon {
  background-color: black;
}

#informacion-del-pokemon {
  background-color: burlywood;
}

.oculto {
  display: none;
}

#imagen-de-fondo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../imagenes/fondo-pokemon.jpg);
  height: auto;
  width: auto;
}

#cabecera {
  padding: 70px;
}

.botones {
  margin: 10px;
}
